### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Maven build outputs
target/
*.jar
*.class

# Fabric/Hyperledger credentials
*.pem
*key_sk
*.crt
wallet/

# Docker/Runtime
*.log
.env

# Spring Boot secrets
application.yml
application-secrets.yml
